<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- Khai báo namespace để dùng
th:* -->

<head>
  <meta charset="UTF-8">
  <title>Danh Sách Sinh Viên</title>
  <!-- CSS đơn giản -->
  <style>
    body {
      font-family: sans-serif;
      padding: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    .text-danger{
      background-color: red;
    }
  </style>
</head>

<body>
  <form action="/students" method="GET">
    <input type="text" name="keyword" placeholder="Nhập tên..." />
    <button type="submit">Tìm</button>
  </form>

  <h1>Danh Sách Sinh Viên (SSR)</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Họ và Tên</th>
        <th>Email</th>
        <th>Tuổi</th>
      </tr>
    </thead>
    <tbody>
      <!-- Cú pháp Thymeleaf: Duyệt qua danh sách "dsSinhVien" -->
      <!-- th:each="biến_tạm : ${key_trong_model}" -->
      <tr th:each="student : ${dsSinhVien}" th:class="${student.age < 18} ? 'text-danger' : ''">
        <td th:text="${student.id}">ID Mẫu</td>
        <td th:text="${student.name}">Tên Mẫu</td>
        <td th:text="${student.email}">Email Mẫu</td>
        <td th:text="${student.age}">0</td>
      </tr>
    </tbody>
  </table>
</body>

</html>